*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}  

/* login.css */
.form-logins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(1,188,212);
  }
  
  .form-logins a {
      font-size: 1.5rem;
      margin-bottom: 20px;

      font-size: 36px;
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
  }
  .form-login{
    padding: 18px;
    width: 350px;
    height: 370px;
    background-color: rgb(255, 255, 255);
  }
  .form-login a{
    font-size: 18px;
    font-weight: 700;
    color: #555555 ;
    line-height: 19.8px ;
    margin: 10px 0px ;
    text-align: center ;
  }
  
  .input-fields {
    margin-bottom: 15px;
  }
  
  .input-enter {
    display: flex;
    flex-direction: column;
  }
  
  .input-enter label {
    margin-bottom: 5px;
  }
  
  .input-enter input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .button-login {
    padding: 10px;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-login:hover {
    background-color: #45a049;
  }



  /*  */
  
  .input-enter {
    position: relative;
  }
  
  .input-enter label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  
  .input-enter.active label {
    top: 5px;
    font-size: 12px;
    color: #1890ff; /* Change color as needed */
  }
  
  .iconUser {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .input-fields2{
    /* display: flex; */
    
  }
  .icon-u{
    /* margin-right: 6px; */
  }
  .inputEnter{
        /* position: relative; */
  }
  .inputEnter label {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 15px; */
    /* transform: translateY(-50%); */
    /* transition: all 0.3s ease-in-out; */
  }

  .inputEnter.active label {
    /* top: 5px;
    font-size: 12px; 
     color: #1890ff; */
  } 
/* .input-fields2  icon-u*/
/* .inputEnter  icoinputEnter label*/
/* .inputEnter.active label */

.input-fields2{
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.icon-u{
    margin-right: 8px;
}

.inputEnter{
    position: relative;
    width: 100%;
     
}

.inputEnter label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    
    transition: all 0.2s ease-in-out;
}
.inputEnter.active label {
    font-size: 12px;
    top: 5px;
    color: red;

}

.inputEnter input{
    display: flex;
    padding: 6px;
    width: 100%;


}
.inputEnter input{
    /* background-color: #45a049; */
}